<app-cabecera></app-cabecera>
<div class="contenedor">
  <div class="formulario" fxFlex="100" fxLayout="column">
    <div fxLayout="row">
     
        <mat-form-field>
          <mat-label>Descripcion</mat-label>
          <input matInput type="text" [(ngModel)]="Apunte.descripcion" />
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-form-field>
          <mat-label>texto</mat-label>
          <input matInput type="text" [(ngModel)]="Apunte.texto" />
        </mat-form-field>
      </div>
     
      <div fxLayout="row">
        <button class="btn btn-primary" (click)="guardar()">Guardar</button>
        @if(Apunte.id){
  
        <button class="btn btn-danger" (click)="eliminar()" >borrar</button>
        }
      </div>
    </div>
    <div class="formulario" fxFlex="100" fxLayout="column"></div>
  </div>
  